@mixin band-spacing {
    padding-top: $spacing-unit / 2;
    padding-bottom: $spacing-unit / 2;
}

.band {
    @include band-spacing;
    border-bottom: 1px solid darken($gray, 5%);

    &--alt {
        @include band-spacing;
        background: $gray;
    }

    &--secondary {
        @include band-spacing;
        background: $secondary;
    }

    &--primary {
        @include band-spacing;
        background: $primary;
        color: $background-color;

        a {
            color: $background-color;

            &:hover {
                color: lighten($background-color, 10%);
            }
        }
    }

    &--warning-light {
        @include band-spacing;
        background: $warning-light;
    }

    &--primary-light {
        @include band-spacing;
        background: $primary-light;
    }

    &--LARGE {
        width: 100%;
        padding-top: $spacing-unit * 6;
        padding-bottom: $spacing-unit * 6;
    }

    &--MEDIUM {
        width: 100%;
        padding-top: $spacing-unit * 4;
        padding-bottom: $spacing-unit * 4;
    }

    &--SMALL {
        width: 100%;
        padding-top: $spacing-unit * 2;
        padding-bottom: $spacing-unit * 2;
    }
}
